:root {
    --button-color: #ffd800;
    --frame-color: #367b6b;
}

body {
    touch-action: none;
    background: var(--page-color, black);
}

canvas {
    touch-action: none;
}

input[type="text"], textarea {
    font-size: large;
}

.row {
    display: flex; flex-direction: row;
    flex: 1;
}

.column {
    display: flex; flex-direction: column;
    flex: 1;
}

#player-menu {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 1em;

    height: 32px;

    align-self: center;
}

#editor {
    display: flex; flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: stretch;
}

#upper-toolbar {
    display: flex; flex-direction: row;
    gap: .5rem;
}

#upper-toolbar .button-row > * {
    min-width: 48px;
}

#renderer {
    height: 512px;
    background: none;
}

#mode-body {
    height: 100%;

    display: flex; flex-direction: column;
}

#mode-select {
    gap: 0;
}

#mode-select > * {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#mode-select.radio-select input[type="radio"]:checked {
    background: #367b6b;
}

#undo-row {
    padding-bottom: .5rem;
    gap: .5rem;
}

#undo-row > * {
    border-radius: .75rem;
}

#menu {
    margin-top: .5rem;
}

#palette-edit {
    flex: 1;

    border-radius: 1rem;
    background: var(--trans-gradient);

    padding: 1rem;
    gap: 1rem;
}

#palette-edit-select > :first-child {
    border-radius: 1rem 0 0 0;
}

#palette-edit-select > :last-child {
    border-radius: 0 1rem 0 0;
}

#palette-edit-select label img {
    filter: none;
}

#color-select {
    gap: .5rem;
}

#color-select label {
    min-height: 0;
}

#color-select input[type="radio"]:checked {
    background: none;
    z-index: 5;

    animation: none;
    box-shadow: 0 0 0 .5em white;
}

#color-edit {
    gap: 1rem;
}

label.toggle {
    flex: 1;
    flex-direction: row;
    white-space: nowrap;
    border: none;
    border-radius: 1em;
    background-color: var(--button-color);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25em;

    color: black;
    position: relative;
}

.toggle input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0;
    border-radius: inherit;

    position: absolute;
    width: 100%; height: 100%;
}

.toggle input + svg {
    color: black;

    pointer-events: none;
    width: 32px; height: 32px;
}

.toggle input:checked {
    background: blue;
}

.toggle input:checked + svg, .toggle input:checked + svg + svg {
    color: white;
}

#controls {
    position: relative;

    width: 512px;
    height: calc(512px + 48px + .5rem);
    background: none;

    padding: 0;
    border-radius: 0;
    overflow: visible;

    display: flex; flex-direction: column;

    justify-content: unset;
    align-items: unset;
    gap: 0;
}

#viewport {
    position: relative;

    width: 512px;
    height: calc(512px + 48px + .5rem);
    background: none;

    padding: 0;
    border-radius: 0;
    overflow: visible;

    display: flex; flex-direction: column;

    justify-content: unset;
    align-items: unset;

    gap: .5rem;
}

#palette-room, #tile-map-paint, #events-room {
    width: 512px; height: 512px;
}

#room-paint-buttons label {
    min-height: unset;
}

#room-paint-buttons .radio-select svg {
    min-height: unset;
    transform: translate(-50%, -50%) scale(75%);
}

#palette-room {
    cursor: not-allowed;
}

#tile-map-tab {
    display: flex; flex-direction: column;
    gap: .5rem;
}

#tile-map-paint {
    cursor: crosshair;
}

#tile-paint-room {
    width: 256px; height: 256px;

    cursor: crosshair;
}

#tile-paint-canvases * {
    background: none;
}

#tile-paint-canvases input:checked {
    pointer-events: none;
    background: none;
}

#tile-paint-canvases input:not(:checked) + canvas {
    pointer-events: none;
    opacity: 50%;
}

select {
    padding: .5em;

    border: none;
    border-radius: 1rem;

    background-color: var(--button-color);
}

#room-events-tab {
    display: flex; flex-direction: column;
    gap: .5rem;

    cursor: pointer;
}

#event-empty {
    display: flex; flex-direction: column;
    gap: .5rem;
}

.event-template-list > button {
    flex: 0;

    display: flex; flex-direction: row;
    padding: .5rem; gap: .5rem;
    justify-content: flex-start;
}

.event-template-list {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(2, 1fr);
}

#event-properties {
    flex: 1;
    display: flex; flex-direction: column;
    gap: 1rem;

    /* overflow: hidden; */
}

#event-properties > .row {
    overflow: hidden;
}

#event-properties textarea {
    flex: 1;
    resize: none;
    border-radius: 1rem;
}

.event-sheet {
    flex: 1;

    display: flex; flex-direction: column;

    border-radius: 1rem 0 0 1rem;
    background: black;
    overflow: hidden scroll;
}

.event-sheet > :nth-child(2n+0) {
    background: var(--trans-color-1);
}

.event-sheet > :nth-child(2n+1) {
    background: var(--trans-color-2);
}

.event-sheet #event-sheet-add {
    flex: 0;
    margin: .5rem;
    background: var(--button-color);
}

.event-line {
    display: flex; flex-direction: row;
    gap: .25rem;

    height: 32px;
    min-height: 32px;

    cursor: pointer;

    gap: .25rem;
    padding: 0 .25rem;
}

.event-line > input, .event-line > select { 
    color: white;
    flex: 1;
    border-radius: 0;
    background: inherit;
    padding-top: 0;
    padding-bottom: 0;
}

.event-line:not(.active) > * {
    pointer-events: none;
}

.event-line.active {
    filter: invert();
}

.event-line :focus {
    outline: thick solid var(--button-color);
    z-index: 5;
}

.event-lines-toolbar {
    flex: unset;
    width: 48px;
    height: 180px;
    gap: .5rem;

    display: flex; flex-direction: column;
}

.event-lines-toolbar > button {
    border-radius: 0 .5rem .5rem 0;
    padding: 0;
    height: 40px;
}

#field-json-editor {
    height: 192px;

    display: flex;
}

#field-file-editor {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

#field-file-editor button {
    height: 40px;
    border-radius: .75rem;
    padding-left: .75rem;
    padding-right: .75rem;
}

#field-file-sidebar {
    width: 128px;

    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#field-dialogue-editor {
    height: 96px;

    display: flex;
}

#field-dialogue-editor > .row {
    gap: .5rem;
}

#field-dialogue-editor textarea {
    border-radius: .5rem 1rem 1rem .5rem;
}

#dialogue-editor-toolbar {
    display: flex; flex-direction: column;
    gap: .5rem;

    width: 48px;
}

#dialogue-editor-toolbar .toggle {
    border-radius: .5rem;
}


#event-edit, #game-fields-edit {
    gap: 1rem;
    overflow: hidden;
}

#event-edit > *, #game-fields-edit > * {
    flex: 1;
}

#event-action-type-select {
    padding: .5em;

    border: none;
    border-radius: 1rem 0 0 1rem;

    background-color: var(--button-color);

    font-weight: bold;

    height: 48px;
}

#event-selected-toolbar {
    gap: 1rem;
    padding-right: 1rem;
}

#field-tile-editor {
    height: 192px;
}

#field-tile-select {
    padding: .5rem;

    display: flex; flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: flex-start;

    border-radius: .5rem;
    background: var(--trans-gradient);
    overflow: hidden scroll;

    width: 100%;
    height: 100%;
}

#field-tile-select label {
    min-height: unset;

    width: 40px; height: 40px;

    background-color: var(--tileset-background-color);
    background-image: var(--tileset-background-image);
    background-size: var(--tileset-background-size);
}

#field-tile-select input[type="radio"]:checked {
    background: none;
    z-index: 5;

    box-shadow: 0 0 0 5px white;
}

#play-tab-view canvas {
    width: 512px; height: 512px;
}

details > summary {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--button-color);
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--button-color);
}

a {
    color: var(--button-color);
    font-weight: bold;
}

a:hover {
    color: white;
}

a:visited {
    color: #cef0df;
}

em {
    font-weight: bold;
    color: var(--button-color);
}
