#playtest {
    position: absolute;
    width: 512px; height: 512px;
    left: 0; top: 0;

    border: none;
}

#palette-picker {
    position: absolute;
    right: 0; bottom: 56px;
    width: 256px;
    height: 256px;

    background: var(--button-color);
    border-radius: 1.5rem 0 0 1.5rem;
    padding: .5rem;

    display: flex;
}

#palette-picker-palettes {
    background: var(--trans-gradient);
    border-radius: 1rem;
    padding: .5rem;
    gap: .5rem;

    overflow: hidden scroll;
}

#palette-picker label {
    border-radius: 1rem;
}

#palette-picker input[type="radio"]:checked {
    background: none;
    z-index: 5;
    animation: none;
    box-shadow: 0 0 0 0.5em white;
}

#tile-select-tab {
    flex: 1;

    position: relative;
    display: flex; flex-direction: column;
    gap: .5rem;

    overflow: hidden;
}

#tile-buttons {
    display: flex; flex-direction: row;
    gap: .5rem;
}

#tile-buttons > * {
    width: 56px;
    height: 40px;

    border-radius: .75rem;
}

#tile-select {
    flex: 1;

    padding: .5rem;

    display: flex; flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: flex-start;
    align-content: flex-start;

    border-radius: .5rem;
    background: var(--trans-gradient);
    overflow: hidden scroll;
}

#tile-select label {
    min-height: unset;

    width: 40px; height: 40px;

    background-color: var(--tileset-background-color);
    background-image: var(--tileset-background-image);
    background-size: var(--tileset-background-size);
}

#tile-select input[type="radio"]:checked {
    background: none;
    z-index: 5;

    box-shadow: 0 0 0 5px white;
}

#room-select-tab {
    display: flex; flex-direction: column;
    gap: .5rem;

    padding-bottom: 1rem;

    height: 240px;
}

#room-buttons {
    display: flex; flex-direction: row;
    gap: .5rem;
}

#room-buttons > * {
    width: 56px;
    height: 40px;

    border-radius: .75rem;
}

.room-select {
    --room-size: calc(16px * 3);

    flex: 1;

    padding: .5rem;

    display: flex; flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: flex-start;
    align-content: flex-start;

    border-radius: .5rem;
    background: var(--trans-gradient);
    overflow: hidden scroll;
}

.room-select label {
    min-height: unset;

    width: var(--room-size);
    height: var(--room-size);
}

.room-select input[type="radio"]:checked {
    background: none;
    z-index: 5;

    box-shadow: 0 0 0 5px white;
}

.room-select canvas {
    width: 100%; height: 100%;
}

#field-location-editor {
    display: flex; flex-direction: row;
    gap: 1rem;

    height: 236px;
}

#field-position-select {
    background: var(--trans-gradient);

    height: 236px;
}

#tile-paint-buttons > * {
    max-width: unset;
}

input + svg {
    z-index: 6;
}
