:root {
    --button-color: #ffd800;

    /** diagonal stripes for showing clearly transparent pixels of the paint area */
    --trans-color-1: rgb(32, 32, 32);
    --trans-color-2: rgb(48, 48, 48);
    --trans-gradient: repeating-linear-gradient( -45deg, var(--trans-color-1), var(--trans-color-1) .5em, var(--trans-color-2) .5em, var(--trans-color-2) 1em );

    font-family: sans-serif;
}

:root[data-app-mode="editor"] [data-hidden-in-editor] {
    display: none !important;
    visibility: hidden;
}

:root[data-app-mode="player"] [data-hidden-in-player] {
    display: none !important;
    visibility: hidden;
}

html, body {
    margin: 0; padding: 0;
    min-height: calc(var(--vh, 1vh) * 100);

    overflow: hidden auto;
    overscroll-behavior-y: contain;
}

body {
    display: flex; flex-direction: column;
    justify-content: center;
    align-items: center;

    background: black;
    color: white;
}

#editor {
    display: flex; flex-direction: column;
    justify-content: center;
    align-items: center;
}

html:not([data-remix-generation="0"]) [data-original-only] {
    display: none !important;
}

html[data-remix-generation="0"] [data-remix-only] {
    display: none !important;
}

#editor main {
    display: flex; flex-direction: column;
    padding: 1em; gap: 1em;

    background: #367b6b;
    border-radius: 2em;
}

@media (max-width: 650px) {
    #editor main {
        width: 100vw;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

#help {
    font-family: monospace;
    font-size: large;

    padding: 1em;

    overflow: hidden scroll;
}

#help, #help > section {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#help [name="help"] {
    position: absolute;
    top: 1em; right: 1em;

    padding: 0 1em;
    height: 32px;
}

#help p {
    margin: 0;
}

#help a {
    color: var(--button-color);
}

#help a:hover {
    color: white;
}

#help a:visited {
    color: gray;
}

#help ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 1em;
    padding: 0;
    gap: .5em 1em;
    list-style: none;

    align-content: center;
}

#tool-select input[type="radio"]:checked + img {
    filter: invert();
}

#color-select input[type="radio"]:checked {
    background: none;
    z-index: 5;

    animation-name: selection-flash;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#viewport {
    position: relative;
    display: flex; flex-direction: column;
    border-radius: 1em;

    background: var(--trans-gradient);
    padding: .65em;

    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#help {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    color: white;
    background-color: #000000DD;
    /* border-radius: 1em; */

    display: flex;
    flex-direction: column;
    padding: 1em;
    overflow: auto;
}

#renderer {
    background: magenta;
    touch-action: none;
}

.button-row {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

button {
    flex: 1;
    flex-direction: column;
    white-space: nowrap;

    border: none;
    border-radius: 1em;
    background-color: var(--button-color);

    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: .25em;
}

button:active {
    filter: invert();
}

button:disabled {
    opacity: .5;
    cursor: not-allowed;
}

.radio-select label {
    position: relative;

    margin: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: var(--button-color);

    min-height: 3em;
}

.radio-select input[type="radio"] {
    margin: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: inherit;

    position: absolute;
    width: 100%; height: 100%;
}

.radio-select label img, .radio-select label svg, button img, button svg {
    pointer-events: none;
    width: 32px; height: 32px;
}

.radio-select label img, .radio-select label svg {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

.radio-select input[type="radio"]:checked {
    border: none;
    background: blue;
}

.radio-select img {
    filter: brightness(0);
}

.radio-select svg {
    color: black;
}

.radio-select input[type="radio"]:checked + svg {
    color: white;
}

.radio-select input[type="radio"]:checked + img {
    filter: none;
}

@keyframes selection-flash {
    0%   { box-shadow: 0 0 0 .5em black; }
    100% { box-shadow: 0 0 0 .5em white; }
}

.horizontal-capsule > *, .vertical-capsule > * {
    flex: 1;
}

.horizontal-capsule {
    display: flex;
    flex-direction: row;
}

.vertical-capsule {
    display: flex;
    flex-direction: column;
}

.horizontal-capsule > * {
    border-radius: 0;
}

.horizontal-capsule > :first-child {
    border-radius: 1em 0 0 1em;
}

.horizontal-capsule > :last-child {
    border-radius: 0 1em 1em 0;
}

.vertical-capsule > :first-child {
    border-radius: 1em 1em 0 0;
}

.vertical-capsule > :last-child {
    border-radius: 0 0 1em 1em;
}

:focus {
    outline: thick solid white;
    z-index: 5;
}
:focus:not(:focus-visible) { 
    outline: unset 
}

:focus + * {
    z-index: 5;
}

.hanging-menu {
    display: flex;
    flex-direction: row;
    gap: 1em;

    height: 32px;
}

.hanging-menu > * {
    background-color: var(--button-color);

    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;

    border: none;
    border-radius: 0 0 1em 1em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.grid4 {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.grid8 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.grid4 label { border-radius: 0; }
.grid4 label:nth-child(1) { border-top-left-radius: 1em; }
.grid4 label:nth-child(4) { border-top-right-radius: 1em; }
.grid4 label:nth-last-child(4) { border-bottom-left-radius: 1em; }
.grid4 label:nth-last-child(1) { border-bottom-right-radius: 1em; }

.grid8 label { border-radius: 0; }
.grid8 label:nth-child(1) { border-top-left-radius: 1em; }
.grid8 label:nth-child(8) { border-top-right-radius: 1em; }
.grid8 label:nth-last-child(8) { border-bottom-left-radius: 1em; }
.grid8 label:nth-last-child(1) { border-bottom-right-radius: 1em; }

.grid8 label :not(input) { border-radius: inherit; }

input[type="text"], textarea {
    font-family: monospace;

    flex: 1;
    flex-basis: 100%;
    min-width: 0;
    padding: .5em .75em;
    border: 0;
    border-radius: .5em;
    color: white;
    background: black;

    margin: 0;
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.grid3 > * { border-radius: 0; }
.grid3 > *:nth-child(1) { border-top-left-radius: 1em; }
.grid3 > *:nth-child(3) { border-top-right-radius: 1em; }
.grid3 > *:nth-last-child(3) { border-bottom-left-radius: 1em; }
.grid3 > *:nth-last-child(1) { border-bottom-right-radius: 1em; }
