:root[data-app-mode="editor"] [data-hidden-in-editor] {
    display: none !important;
    visibility: hidden;
}

html, body {
    margin: 0; padding: 0;
    min-height: calc(var(--vh, 1vh) * 100);

    overflow: hidden auto;
    overscroll-behavior-y: contain;
}

body {
    display: flex; flex-direction: column;
    justify-content: center;
    align-items: center;

    background: black;
    color: white;
}

#editor {
    display: flex; flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.button-row {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

button {
    flex: 1;
    flex-direction: column;
    white-space: nowrap;

    border: none;
    border-radius: 1em;
    background-color: var(--button-color);

    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: .25em;
}

button:active {
    filter: invert();
}

button:disabled {
    opacity: .5;
    cursor: not-allowed;
}

.radio-select label {
    position: relative;

    margin: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    min-height: 3em;
}

.radio-select label > input {
    background-color: var(--button-color);
}

.radio-select input[type="radio"] {
    margin: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: inherit;

    position: absolute;
    width: 100%; height: 100%;
}

.radio-select label img, .radio-select label svg, button img, button svg {
    pointer-events: none;
    width: 32px; height: 32px;
}

.radio-select label img, .radio-select label svg {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

.radio-select input[type="radio"]:checked {
    border: none;
    background: blue;
}

.radio-select img {
    filter: brightness(0);
}

.radio-select svg {
    color: black;
}

.radio-select input[type="radio"]:checked + svg {
    color: white;
}

.radio-select input[type="radio"]:checked + img {
    filter: none;
}

.horizontal-capsule > *, .vertical-capsule > * {
    flex: 1;
}

.horizontal-capsule {
    display: flex;
    flex-direction: row;
}

.vertical-capsule {
    display: flex;
    flex-direction: column;
}

.horizontal-capsule > * {
    border-radius: 0;
}

.horizontal-capsule > :first-child {
    border-radius: 1em 0 0 1em;
}

.horizontal-capsule > :last-child {
    border-radius: 0 1em 1em 0;
}

.vertical-capsule > :first-child {
    border-radius: 1em 1em 0 0;
}

.vertical-capsule > :last-child {
    border-radius: 0 0 1em 1em;
}

:focus {
    outline: thick solid white;
    z-index: 5;
}
:focus:not(:focus-visible) { 
    outline: unset 
}

:focus + * {
    z-index: 5;
}

.grid4 {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.grid8 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.grid4 label { border-radius: 0; }
.grid4 label:nth-child(1) { border-top-left-radius: 1em; }
.grid4 label:nth-child(4) { border-top-right-radius: 1em; }
.grid4 label:nth-last-child(4) { border-bottom-left-radius: 1em; }
.grid4 label:nth-last-child(1) { border-bottom-right-radius: 1em; }

.grid8 label { border-radius: 0; }
.grid8 label:nth-child(1) { border-top-left-radius: 1em; }
.grid8 label:nth-child(8) { border-top-right-radius: 1em; }
.grid8 label:nth-last-child(8) { border-bottom-left-radius: 1em; }
.grid8 label:nth-last-child(1) { border-bottom-right-radius: 1em; }

.grid8 label :not(input) { border-radius: inherit; }

input[type="text"], textarea {
    font-family: monospace;

    flex: 1;
    flex-basis: 100%;
    min-width: 0;
    padding: .5em .75em;
    border: 0;
    border-radius: .5em;
    color: white;
    background: black;

    margin: 0;
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.grid3 > * { border-radius: 0; }
.grid3 > *:nth-child(1) { border-top-left-radius: 1em; }
.grid3 > *:nth-child(3) { border-top-right-radius: 1em; }
.grid3 > *:nth-last-child(3) { border-bottom-left-radius: 1em; }
.grid3 > *:nth-last-child(1) { border-bottom-right-radius: 1em; }
