body {    
    background: var(--page-color, black);
}

#player {
    width: 256px;
    height: 256px;

    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);

    overflow: hidden;
}
