#ink-tab-view.viewport-tab-body(hidden)
    .viewport-body
        #story-container
    .viewport-toolbar
        button.icon-button(name="restart-ink" title="restart playtest")
            include /icons/refresh.svg
        button.icon-button(name="undo-ink" title="undo last choice")
            include /icons/undo.svg
        //- button.icon-button(name="undo" title="goto knot")
        //-     include /icons/door.svg
        //- label.toggle.picker-toggle
        //-     input(type="checkbox" name="show-log" title="show script log")
        //-     include /icons/log.svg
        //-     include /icons/caret-up.svg
        //- label.toggle.picker-toggle
        //-     input(type="checkbox" name="show-variables" title="show variables")
        //-     include /icons/variables.svg
        //-     include /icons/caret-up.svg
