#draw-room-tab-controls.controls-tab(hidden)
    .controls-tab-body
        #draw-room-events-controls(hidden)
            include ../edit-events/controls-nest.pug
        #draw-room-tile-controls(hidden)
            include ../draw-tile/controls-nest.pug
    .viewport-toolbar
        include /pages/room-select-toggle.pug
        select#room-palette-select(name="room-palette")
            each index in [0, 1, 2, 3, 4, 5, 6, 7]
                option(value=`${index}`)= `palette ${index}`
        .horizontal-capsule#room-events-toolbar(hidden)
            button(name="copy-event" title="copy event")
                include /icons/copy.svg
            button(name="paste-event" title="paste event")
                include /icons/paste.svg
            button(name="delete-event" title="delete event")
                include /icons/delete.svg
        label.toggle#highlight-toggle
            input(type="checkbox" name="highlight" title="highlight")
            include /icons/sparkle.svg
