#draw-room-tab-controls.controls-tab(hidden)
    .controls-tab-body
        #draw-room-tile-select.tile-select.radio-select(title="select tile")
            template#draw-room-tile-template
                label
                    input(type="radio" name="draw-room-tile-select")
    .viewport-toolbar
        include /pages/room-select-toggle.pug
        select(name="room-palette")
            each index in [0, 1, 2, 3, 4, 5, 6, 7]
                option(value=`${index}`)= `palette ${index}`
