label.toggle.picker-toggle#color-select-window-toggle
    input(type="checkbox" name="show-color-window" title="switch colors")
    #color-preview-container.picker-toggle-preview
        canvas(width=16, height=16)
    include /icons/caret-up.svg