#events-room-select-window(hidden)
    #events-room-select.room-select.radio-select(title="select room")
        template#events-room-select-template
            label
                input(type="radio" name="events-room-select" value="0" title=`select room 0`)
                canvas(width="16" height="16")