#game-fields-edit.column(hidden)
    #game-fields
        .row
            datalist#game-field-names
                option(value="graphic")
                option(value="dialogue")
                option(value="exit")
                option(value="script")
            .event-sheet.column
                .event-line#game-field-template(hidden)
                    input(type="text" name="game-field-name" list="game-field-names" autocomplete="off")
                    select(name="game-field-type")
                        option tile
                        option dialogue
                        option location
                        option javascript
                        option tag
                        option json
                        option text
            .event-lines-toolbar
                button(name="add-game-field")
                    include /common/icons/plus.svg
                button(name="duplicate-game-field" hidden)
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z"/></svg>
                button(name="shift-up-game-field")
                    include /common/icons/arrow-up.svg
                button(name="shift-down-game-field")
                    include /common/icons/arrow-down.svg
                button(name="remove-game-field")
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/><path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/></svg>
        #game-field-json-editor(hidden)
            textarea(spellcheck="false")
        #game-dialogue-editor(hidden)
            .row
                #game-dialogue-editor-toolbar
                    label.toggle
                        input(type="checkbox" name="game-show-dialogue-preview" title="toggle dialogue preview")
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/><path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/></svg>
                textarea
        #game-field-tile-editor(hidden)
            #game-field-tile-select.radio-select(title="select tile")
                label#game-tile-select-item-template(hidden)
                    input(type="radio" name="game-tile-select")
        #game-field-location-editor(hidden)
            #game-field-room-select.radio-select(title="select room")
                each _, index in (new Array(24).fill(0))
                    label
                        input(type="radio" name="game-room-select" value=`${index}` title=`select room ${index}`)
            canvas#game-field-position-select(width="128" height="128" title="select position")
