#move-to-window.popup-window(hidden)
    #move-to-window-room.room-select.radio-select(title="select room")
        template#move-to-window-room-template
            label
                input(type="radio" name="move-to-window-room-select" value="0" title=`select room 0`)
                canvas(width="16" height="16")
    canvas#move-to-window-position(width="128" height="128" title="select position")