label.toggle.picker-toggle.room-picker-toggle
    input(type="checkbox" name="show-room-window" title="switch room")
    //- include /icons/rooms.svg
    canvas(width=16, height=16)
    include /icons/caret-up.svg