#room-select-window.popup-window(hidden)
    .item-management-buttons
        button(name="add-new-room" title="add new room")
            include /icons/plus.svg
        button(name="duplicate-room" title="duplicate selected room")
            include /icons/copy.svg
        button(name="reorder-room-before" title="reorder room before")
            include /icons/arrow-left.svg
        button(name="reorder-room-after" title="reorder room after")
            include /icons/arrow-right.svg
        button(name="delete-room" title="delete selected room")
            include /icons/delete.svg
    #events-room-select.room-select.radio-select(title="select room")
        template#room-select-window-template
            label
                input(type="radio" name="events-room-select" value="0" title=`select room 0`)
                canvas(width="16" height="16")