#draw-room-tab-controls.controls-tab(hidden)
    .controls-tab-body
        #draw-room-events-controls(hidden)
            include events-controls.pug
        #draw-room-tile-controls(hidden)
            include tiles-controls.pug
        #draw-room-palette-controls(hidden)
            include colors-controls.pug
    .viewport-toolbar
        include /pages/room-select-toggle.pug
        include /pages/palette-select-toggle.pug
        include /pages/color-select-toggle.pug
        .horizontal-capsule.radio-select#draw-room-color-mode
            label
                input(type="radio" name="room-color-mode" value="fg" title="paint foreground color")
                include /icons/foreground.svg
            label
                input(type="radio" name="room-color-mode" value="bg" title="paint background color")
                include /icons/background.svg
        .horizontal-capsule#room-events-toolbar(hidden)
            button(name="copy-event" title="copy event")
                include /icons/copy.svg
            button(name="paste-event" title="paste event")
                include /icons/paste.svg
            button(name="delete-event" title="delete event")
                include /icons/delete.svg
        label.toggle#highlight-toggle(hidden)
            input(type="checkbox" name="highlight" title="highlight")
            include /icons/sparkle.svg
        .horizontal-capsule#placement-toggles
            label.toggle
                input(type="checkbox" name="place-tile" title="paint tiles in room")
                include /icons/cells.svg
            label.toggle
                input(type="checkbox" name="room-paint-foreground" title="paint foreground color")
                include /icons/foreground.svg
            label.toggle
                input(type="checkbox" name="room-paint-background" title="paint background color")
                include /icons/background.svg
        label.toggle#picker-toggle
            input(type="checkbox" name="tile-picker" title="pick tile")
            include /icons/picker.svg
