#play-tab-body.controls-tab-body(hidden)
    h2 playtest & publish
    h3 info
    p bipsi stores your saved project in your browser. it's a good idea to export playables regularly so you have backup copies
    h3 switch project
    .info-action-list
        button(name="import" title="import from webpage")
            include /icons/upload.svg
            | import playable
        button(name="reset" title="clear project to blank")
            include /icons/delete.svg
            | clear project
    h3 export project
    .info-action-list
        button(name="export" title="export as webpage") 
            include /icons/package.svg
            | export playable
        button(name="export-gamedata" title="export data") 
            include /icons/binary.svg
            | export data
        button(name="export-tileset" title="export tile graphics")
            include /icons/pencil.svg
            | export tile graphics
