#play-tab-body.controls-tab-body(hidden)
    h2 playtest
    h3 switch project
    .info-action-list
        button(name="import" title="import from webpage")
            include /icons/upload.svg
            | import playable
        button(name="reset" title="reset project to default")
            include /icons/delete.svg
            | reset project
    h3 publish project
    .info-action-list
        button(name="export" title="export as webpage") 
            include /icons/package.svg
            | export playable
        button(name="export-gamedata" title="export gamedata") 
            include /icons/binary.svg
            | export gamedata
