#edit-colors-tab.controls-tab(hidden)
    .controls-tab-body
        #palette-edit.column
            canvas#color-huesat(width="216" height="216")
            input(name="color-value" type="range" min="0" max="1" step=".01")
            .button-row
                input(name="color-hex" type="text" value="#ffffff")
            #color-index-select.radio-select.color-select.horizontal-capsule
                each _, i in (new Array(3).fill(0))
                    label
                        input(type="radio" name="color-index" value=`${i}` title=`select palette color ${i}`)
    .viewport-toolbar
        include /pages/room-select-toggle.pug
        include /pages/palette-select-toggle.pug
    