#palette-edit.column
    canvas#color-huesat(width="246" height="246")
    input(name="color-value" type="range" min="0" max="1" step=".01")
    .button-row
        input(name="color-hex" type="text" value="#ffffff")
    #color-index-select.radio-select.color-select.horizontal-capsule
        each _, i in (new Array(3).fill(0))
            label
                input(type="radio" name="color-index" value=`${i}` title=`select palette color ${i}`)