#viewport
    include /pages/move-to-window.pug
    include /pages/log-window.pug
    include /pages/variables-window.pug

    include /pages/playtest/viewport.pug
    #info-tab-viewport.viewport-tab-body
        include /pages/info/viewport.pug
    #tile-map-tab(hidden)
        canvas#tile-map-paint(width="256" height="256" draggable="false")
        #tile-map-toolbar.viewport-toolbar
            .horizontal-capsule.radio-select
                label
                    input(type="radio" name="room-paint-tool" value="tile" title="draw tiles")
                    include /icons/pencil.svg
                label
                    input(type="radio" name="room-paint-tool" value="wall" title="draw walls")
                    include /icons/walls.svg
                label
                    input(type="radio" name="room-paint-tool" value="events" title="edit events")
                    include /icons/events.svg
                label
                    input(type="radio" name="room-paint-tool" value="color" title="edit colors")
                    include /icons/palette.svg
                label
                    input(type="radio" name="room-paint-tool" value="shift" title="shift tiles")
                    include /icons/shift.svg
            label.toggle#tile-grid
                input(type="checkbox" name="room-grid" title="toggle grid")
                include /icons/grid.svg
#controls
    include /pages/room-select-window.pug
    include /pages/palette-select-window.pug
    include /pages/color-select-window.pug
    include /pages/rooms/frame-adjust-window.pug
    #upper-toolbar
        #mode-select.horizontal-capsule.radio-select(title="mode-select")
            label
                input(type="radio" name="mode-select" value="info" title="info")
                include /icons/info.svg
            label
                input(type="radio" name="mode-select" value="draw-room" title="edit rooms")
                include /icons/pencil.svg
            label
                input(type="radio" name="mode-select" value="playtest" title="playtest")
                include /icons/play.svg
        #undo-row.button-row
            button(name="undo" title="undo")
                include /icons/undo.svg
            button(name="redo" title="redo")
                include /icons/redo.svg
            button(name="save" title="save to browser")
                include /icons/disc.svg
    include /pages/info/controls.pug
    include /pages/playtest/controls.pug
    include /pages/rooms/controls.pug
