#viewport
    include /pages/move-to-window.pug
    include /pages/log-window.pug
    include /pages/variables-window.pug
    
    include /pages/playtest/viewport.pug
    #palette-tab.viewport-tab-body(hidden)
        canvas#palette-room(width="128" height="128" draggable="false")
    #tile-paint-tab.viewport-tab-body(hidden)
        #tile-paint-body
            .row
                canvas#tile-paint-a(width="8" height="8" draggable="false" title="tile animation preview")
                #tile-paint-canvases.radio-select
                    label
                        input(type="radio" name="tile-paint-frame")
                        canvas#tile-paint-0(width="160" height="160" draggable="false" title="edit tile frame 0")
                    label
                        input(type="radio" name="tile-paint-frame")
                        canvas#tile-paint-1(width="160" height="160" draggable="false" title="edit tile frame 1")
            #tile-paint-previews
                canvas#tile-paint-room(width="128" height="128" draggable="false")
                #tile-paint-buttons
                    .grid3
                        button(name="rotate-tile-anticlockwise" title="rotate tile anticlockwise")
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/></svg>
                        button(name="shift-tile-up" title="shift tile up")
                            include /icons/arrow-up.svg
                        button(name="rotate-tile-clockwise" title="rotate tile clockwise")
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M14.854 4.854a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 4H3.5A2.5 2.5 0 0 0 1 6.5v8a.5.5 0 0 0 1 0v-8A1.5 1.5 0 0 1 3.5 5h9.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4z"/></svg>
                        button(name="shift-tile-left" title="shift tile left")
                            include /icons/arrow-left.svg
                        button(name="shift-tile-down" title="shift tile down")
                            include /icons/arrow-down.svg
                        button(name="shift-tile-right" title="shift tile right")
                            include /icons/arrow-right.svg
                    .horizontal-capsule
                        button(name="mirror-tile" title="mirror tile")
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M7 2.5a.5.5 0 0 0-.939-.24l-6 11A.5.5 0 0 0 .5 14h6a.5.5 0 0 0 .5-.5v-11zm2.376-.484a.5.5 0 0 1 .563.245l6 11A.5.5 0 0 1 15.5 14h-6a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .376-.484zM10 4.46V13h4.658L10 4.46z"/></svg>
                        button(name="flip-tile" title="flip tile")
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M13.5 7a.5.5 0 0 0 .24-.939l-11-6A.5.5 0 0 0 2 .5v6a.5.5 0 0 0 .5.5h11zm.485 2.376a.5.5 0 0 1-.246.563l-11 6A.5.5 0 0 1 2 15.5v-6a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 .485.376zM11.539 10H3v4.658L11.54 10z"/></svg>
                        button(name="invert-tile" title="invert tile")
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 .989c.127 0 .253.049.35.145l6.516 6.516a.495.495 0 0 1 0 .7L8.35 14.866a.493.493 0 0 1-.35.145V.989z"/></svg>
                    .horizontal-capsule
                        button(name="copy-tile-frame" title="copy frame")
                            include /icons/copy.svg
                        button(name="paste-tile-frame" title="paste frame")
                            include /icons/paste.svg
                        button(name="clear-tile-frame" title="clear frame")
                            include /icons/delete.svg
                    .row
                        button(name="swap-tile-frames" title="swap frames")
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/></svg>
                        label.toggle
                            input(type="checkbox" name="tile-animated" title="toggle animated")
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/></svg>
                        label.toggle
                            input(type="checkbox" name="tile-grid" title="toggle grid")
                            include /icons/grid.svg
    #tile-map-tab(hidden)
        canvas#tile-map-paint(width="256" height="256" draggable="false")
        #tile-map-toolbar.viewport-toolbar
            .horizontal-capsule.radio-select
                label
                    input(type="radio" name="room-paint-tool" value="tile" title="draw tiles")
                    include /icons/pencil.svg
                label
                    input(type="radio" name="room-paint-tool" value="high" title="draw highlights")
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828l.645-1.937zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.734 1.734 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.734 1.734 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.734 1.734 0 0 0 3.407 2.31l.387-1.162zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L10.863.1z"/></svg>
                label
                    input(type="radio" name="room-paint-tool" value="pick" title="pick tile")
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M13.354.646a1.207 1.207 0 0 0-1.708 0L8.5 3.793l-.646-.647a.5.5 0 1 0-.708.708L8.293 5l-7.147 7.146A.5.5 0 0 0 1 12.5v1.793l-.854.853a.5.5 0 1 0 .708.707L1.707 15H3.5a.5.5 0 0 0 .354-.146L11 7.707l1.146 1.147a.5.5 0 0 0 .708-.708l-.647-.646 3.147-3.146a1.207 1.207 0 0 0 0-1.708l-2-2zM2 12.707l7-7L10.293 7l-7 7H2v-1.293z"/></svg>
                label
                    input(type="radio" name="room-paint-tool" value="wall" title="draw walls")
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M0 .5A.5.5 0 0 1 .5 0h15a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5H2v-2H.5a.5.5 0 0 1-.5-.5v-3A.5.5 0 0 1 .5 6H2V4H.5a.5.5 0 0 1-.5-.5v-3zM3 4v2h4.5V4H3zm5.5 0v2H13V4H8.5zM3 10v2h4.5v-2H3zm5.5 0v2H13v-2H8.5zM1 1v2h3.5V1H1zm4.5 0v2h5V1h-5zm6 0v2H15V1h-3.5zM1 7v2h3.5V7H1zm4.5 0v2h5V7h-5zm6 0v2H15V7h-3.5zM1 13v2h3.5v-2H1zm4.5 0v2h5v-2h-5zm6 0v2H15v-2h-3.5z"/></svg>
                label
                    input(type="radio" name="room-paint-tool" value="events" title="edit events")
                    include /icons/events.svg
                label
                    input(type="radio" name="room-paint-tool" value="shift" title="shift tiles")
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10zM.146 8.354a.5.5 0 0 1 0-.708l2-2a.5.5 0 1 1 .708.708L1.707 7.5H5.5a.5.5 0 0 1 0 1H1.707l1.147 1.146a.5.5 0 0 1-.708.708l-2-2zM10 8a.5.5 0 0 1 .5-.5h3.793l-1.147-1.146a.5.5 0 0 1 .708-.708l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L14.293 8.5H10.5A.5.5 0 0 1 10 8z"/></svg>
            label.toggle#tile-grid
                input(type="checkbox" name="room-grid" title="toggle grid")
                include /icons/grid.svg
    #palette-picker(hidden)
        #palette-picker-palettes.column.radio-select(title="select palette")
            label#palette-picker-template(hidden)
                input(type="radio" name="palette-picker-select" value=`${y},${x}` title=`select palette ${y}`)
#controls
    include /pages/room-select-window.pug
    #upper-toolbar
        #mode-select.horizontal-capsule.radio-select(title="mode-select")
            label
                input(type="radio" name="mode-select" value="playtest" title="playtest" autocomplete="off")
                include /icons/play.svg
            label
                input(type="radio" name="mode-select" value="palettes" title="palettes")
                include /icons/palette.svg
            label
                input(type="radio" name="mode-select" value="draw-tiles" title="draw tiles")
                include /icons/pencil.svg
            label
                input(type="radio" name="mode-select" value="draw-room" title="draw room")
                include /icons/tilemap.svg
            //- label
                input(type="radio" name="mode-select" value="events" title="events")
                include /icons/events.svg
        #undo-row.button-row
            button(name="undo" title="undo")
                include /icons/undo.svg
            button(name="redo" title="redo")
                include /icons/redo.svg
            button(name="save" title="save")
                include /icons/disc.svg
    include /pages/playtest/controls.pug
    include /pages/edit-colors/controls.pug
    include /pages/draw-tile/controls.pug
    include /pages/draw-room/controls.pug
    //- include /pages/edit-events/controls.pug
